@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  --Texto-Principal: #f5f5f5;
  --Texto-Contrario: #2b2b2b;

  --Texto-Resaltado: #f5f5f56c;
  --Texto-Seleccionado: #ffffff;

  --Texto-Nota: #f5f5f56c;
  --Separadores: #ffffff39;
  --Fondo-Nota: #0f0f0f9d;

  --Degradado-Color: linear-gradient(to top, #656565da, #535353e2);
  --Degradado-Principal: linear-gradient(to top, #cdcdcd, #eaeaea);
  --Degradado-Click: linear-gradient(to top, #6565657a, #53535379);

  --Scrollbars: #adadad5a;
  --Cuadro-Texto: #5454545a;
}
/*  Vista para celulares ---------------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
  /* Para el desplazamiento suave entre secciones */
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }

  .htmlquieto {
    overflow: hidden;
  }

  /* Contenido general y fondo de la página */
  body {
    font-family: "Montserrat";
    margin: 0%;
    color: var(--Texto-Principal);
    background: linear-gradient(to top, #232526, #414345);
    background: #2b2b2b url(../IMG/Fondo2.png) center center
      no-repeat fixed;
    background-size: cover;
  }

  /* Títulos principales */
  h2 {
    text-align: center;
    font-size: 35px;
    padding-top: 75px;

  }

  /* Subtítulos */
  h3 {
    text-align: center;
    font-size: 15px;
  }

  /* Cabecera */
  header {
    padding: 0 0;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, #000000aa, rgba(255, 255, 255, 0));
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: top 0.3s;
  }

  /* Pues el logo de la cabecera... */
  #LogoDeCabecera {
    max-height: 36px;
    padding: 0 0;
    margin: 0;
  }

  /* Menú de navegación que incluye el logo */
  header > nav {
    display: flex;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    text-decoration: none;
    padding: 0 10px;
  }

  /* Lista de la barra de navegación */
  .NavList {
    background-color: #0f0f0fce;
    backdrop-filter: blur(5px);
    flex-direction: column;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px 0 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    position: fixed;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .MenuAbierto {
    opacity: 1;
    pointer-events: all;
  }

  .btnmenu, .btnmenu:active, .btnmenu:hover {
    font-size: 18px;
    background: none;
    border: none;
    color: #414345;
    padding: 0 2%;
  }

  #CerrarMenu {
    align-self: flex-end;
    text-align: right;
    padding: 0 4%;
  }
  /* Elementos de la lista de la barra de navegación */
  .NavList > li {
    line-height: 25px;
  }

  /* Enlaces de la barra de navegación: normal */
  .NavList > li > a,
  .enlacesContacto,
  .btnmenu {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--Texto-Principal);
  }

  /* Enlaces de la barra de navegación: Al pasar el cursor */
  .NavList > li > a:hover,
  .enlacesContacto:hover,
  .btnmenu:hover {
    color: var(--Texto-Resaltado);
  }

  /* Enlaces de la barra de navegación: Al hacer click */
  .NavList > li > a:active,
  .btnmenu:active {
    font-size: 0.9em;
  }

  /* Caracter separador de la lista de la barra de navegación "|" */
  .Separador {
    color: var(--Separadores);
    visibility: hidden;
    font-size: 0.05em;
  }

  /* Contenedor general del contenido principal: el dato curioso del día */
  main {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /* Contenedor general para las secciones */
  .Seccion {
    width: 100vw;
    min-height: 100vh;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .SobreLaPagina {
    background-color: #0f0f0f62;
    padding: 20px 0;
    backdrop-filter: blur(1px);
  }
  /* Contenedor de la presentación de la página: Ilustracion e info */
  .PresentacionDeLaPagina {
    margin-top: 2%;
  }

  /* Imagen del dato: normal */
  .IlustracionPrincipalDeLaPagina {
    border-radius: 15px;
    transition: all 0.3s ease 0s;
    max-height: 35vh;
    max-width: 90vw;
    width: 100%;
  }

  #ContenedorCarga {
    background-color: var(--Fondo-Nota);
    max-height: 35vh;
    max-width: 90vw;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .NoCargando {
    border: 5px solid transparent;
    border-top-color: var(--Scrollbars);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: opacity 0.3s;
    z-index: 10;
    opacity: 0;

    -webkit-animation: Girar 1s linear infinite;
    -o-animation: Girar 1s linear infinite;
    animation: Girar 1s linear infinite;
  }

  @keyframes Girar {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  #ContenedorGeneralImagenDato {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ContenedorImagenTooltip {
    position: relative;
    width: fit-content;
  }

  .tooltip {
    background-color: var(--Fondo-Nota);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 0.9em;
    left: 10px;
    right: 10px;
    bottom: 10px;
    position: absolute;
    font-size: 14px;

    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s;

    z-index: 500;
  }

  #NavImg {
    pointer-events: none;
    max-height: 35vh;
    max-width: 90vw;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    transition: opacity 0.3s;
    z-index: 500;
    right: 10px;
    left: 10px;
    opacity: 0;
  }

  .flechanavimg {
    background-color: var(--Fondo-Nota);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: var(--Texto-Principal);
    transition: all 0.3s ease 0s;
  }

  a:hover {
    color: var(--Texto-Nota);
  }

  #ContenedorImagenTooltip:hover .tooltip, #ContenedorImagenTooltip:hover .MasImg {
    pointer-events: all;
    opacity: 1;
  }

  /* Logo de la sección "Acerca de" */
  #LogoDeInfo {
    transition: all 0.3s ease 0s;
    height: 25vh;
    max-height: 25vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  /* Imagen del dato y el logo de la sección FF: al tocar */
  #ContenedorImagenTooltip:hover .IlustracionPrincipalDeLaPagina,
  #LogoDeInfo:active,
  .ProyectoEnlaces:active {
    transform: scale(1.05);
  }

  /* Contenedor del dato */
  .TituloOSubtitulo {
    margin: 5px 5px 10px;
    line-height: 1em;
  }

  /* "Dato Curioso" */
  .SaludoPrincipal {
    letter-spacing: 1.5px;
    font-size: 20px;
  }

  /* Contenedor general de la informacion del dato */
  .InformacionDeLaPagina {
    background-color: var(--Cuadro-Texto);
    border-radius: 15px;
    padding: 0.2px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .ExplicacionDeLaPagina {
    padding-left: 1%;
    padding-right: 1%;
    font-size: 14px;
  }

  /* Botones: Normal */
  button {
    background: var(--Degradado-Principal);
    padding: 10px 25px;
    font-family: Montserrat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    letter-spacing: 1px;
  }

  #SiguienteBoton {
    font-size: 15px;
  }

  /* Botones: Al pasar el cursor */
  button:hover {
    background: var(--Degradado-Color);
    transform: scale(10px);
    color: var(--Texto-Principal);
  }

  /* Botones: Al hacer click */
  button:active {
    background: var(--Degradado-Click);
  }

  button:disabled {
    background: var(--Scrollbars);
  }

  .Btndisabled {
    pointer-events: none;
    cursor: none;
  }

  /* Nota de los créditos de la imagen del fondo y de la fuente*/
  .TextoNota {
    text-decoration: none;
    color: var(--Texto-Nota);
    font-size: 10px;
    line-height: 1em;
  }

  span {
    line-height: 1em;
  }

  /* Contenedor general del formulario */
  #Formulario {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--Cuadro-Texto);
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 20px;
    margin: 0% 5% 5% 5%;
  }

  .CuadroDeTexto2 {
    background-color: var(--Cuadro-Texto);
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 20px;
    margin: 0% 5% 5% 5%;
  }

  /* Campos de texto del formulario: Normal */
  input,
  textarea {
    display: block;
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid var(--Texto-Principal);
    font-family: "Montserrat";
    font-size: 14px;
    outline: none;
    color: var(--Texto-Principal);
    resize: none;
  }

  /* Barras del formulario: Al hacer click/seleccionar */
  input:focus,
  textarea:focus {
    color: var(--Texto-Principal);
    border-bottom: 1px solid var(--Texto-Seleccionado);
  }

  textarea::placeholder,
  input::placeholder {
    visibility: hidden;
    transition: all 0s ease 0s;
    text-align: right;
    font-size: 0.8em;
  }

  select {
    background: none;
    border: none;
    color: var(--Texto-Principal);
    width: 100%;
    border-bottom: 1px solid var(--Texto-Principal);
    padding-bottom: 5px;
  }

  select:focus{
    outline: none;
  }

  option {
    color: #2b2b2b;
  }


  textarea:focus::placeholder,
  input:focus::placeholder {
    text-align: right;
    font-size: 0.8em;
    visibility: visible;
  }

  /* Indicaciones del formulario: Normal */
  label {
    color: var(--Texto-Nota);
    position: absolute;
    left: 0px;
    top: -5px;
    transition: 0.3s ease-in-out all;
    pointer-events: none;
    font-size: 14px;
  }

  /* Indicaciónes del formulario: al hacer click/seleccionar o rellenar */
  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    outline: none;
    top: -30px;
    left: 0px;
    font-size: 13px;
    color: var(--Texto-Seleccionado);
  }

  .CheckButton {
    pointer-events: all;
    -webkit-user-select: none;

    display: flex;
    width: 100%;
    height: 10px;
    cursor: pointer;
  }

  input[type="checkbox"] {
    position: absolute;
    transform: scale(0);
  }

  input:checked ~ .CheckCheck {
    transform: rotate(45deg);
    width: 1px;
    height: 6px;
    margin-left: 4px;
    border-color: var(--Texto-Seleccionado);
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
  }

  .CheckCheck {
    display: block;
    width: 10px;
    height: inherit;
    border: 3px solid var(--Texto-Nota);
    border-radius: 3px;
    transition: all 0.3s;
    margin-right: 14px;
  }

  /* Contenedor del botón "enviar" del formulario */
  #EnviarDatoSugerido {
    text-align: center;
    font-size: 14px;
  }

  #FormRespuesta {
    margin: 14px;
    font-size: 15px;
    text-align: center;
    color: var(--Texto-Seleccionado);
    font-family: "Montserrat";
  }

  /* Texto del botón principal */
  .btnprn {
    font-size: 14px;
    color: var(--Texto-Contrario);
    padding: 5px 10px;
    min-width: 50px;
    line-height: 1.5;
    margin: 0 5px;
  }

  /* Formato de los cuadros de texto */
  .CuadroDeTexto {
    background: var(--Cuadro-Texto);
    border-radius: 15px;
    padding: 2%;
    margin: 0% 1%;
    text-align: justify;
    font-size: 14px;
  }

  #CajonApps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .item {
    background-color: var(--Cuadro-Texto);
    border-radius: 15px;height: 15vh;
    padding: 1.5%;

    text-align: left;
    font-size: 14px;

    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 14px;
  }

  .MasInfoItem {
    position: relative;
    max-width: fit-content;
    max-height: 64px;
  }

  .imgItem {
    width: 64px;
    object-fit: cover;
    height: 64px;
    border-radius: 5px;
  }

  .MasInfoB {
    position: absolute;
    font-size: 2em;
    background-color: var(--Fondo-Nota);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    border-radius: 5px;

    opacity: 0;
  }

  .MasInfoItem:hover .MasInfoB {
    opacity: 1;
  }

  .NombreItem {
    text-transform: capitalize;
    font-size: 1.35em;
  }

  /* Formato de las preguntas dentro de un formulario */
  .Pregunta {
    position: relative;
    margin: 65px 45px;
  }
  
  .Etiqueta {
    cursor: pointer;
    background-color: var(--Cuadro-Texto); 
    border-radius: 5px; 
    padding: 9px 25px;
  }

  footer::before {
    top: -100px;
    content: "";
    display: block;
    height: 50px;
    width: 100vw;
    background: linear-gradient(to top, #000000aa, rgba(255, 255, 255, 0));
  }

  /* Pie de página */
  .Pie {
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;
    line-height: 1em;
    padding: 5%;
    margin: 0;
    background-color: #000000aa;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ContenedorPie {
    background-color: #54545427;
    min-width: 40vw;
    max-width: 90vw;
    padding: 5px 15px;
    margin: 15px 0;
    border-radius: 7px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .ContenedorPie2{
    background-color: #54545427;
    border-radius: 7px;
    min-width: 5vw;
    padding: 7px 50px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #Enlaces {
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 15px 0;
  }

  #Enlaces > a {
    padding: 0px 5px;
  }

  #NotaCopia {
    color: var(--Texto-Seleccionado);
  }

  #Proyecto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0;
  }

  .ProyectoEnlaces {
    height: 22px;
    transition: all 0.3s ease 0s;
  }
  
  /* Logo de instagram */
  .logoRedSocial {
    font-size: 22px;
  }

  #Enlaces {
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 15px 0;
  }

  summary {
    cursor: pointer;
  }#CajaPrincipal {
    margin-top: 2.5em;
}

#BusquedaPrincipal {
    background-color: #f5f5f5;
    color: #2b2b2b;
    padding-left: 14px;
    height: 2.5em;
    width: 40vw;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0 0px 12px #00000014, 0 0 1px #0100001a;
}

#BusquedaPrincipal::placeholder {
    text-align: left;
    visibility: visible;
}

#CuadroDeBusqueda {
    display: flex;
    justify-content: center;
}

#BtnBuscar {
    border-radius: 0px 4px 4px 0px;
    margin-left: 10px;
    height: 100%;
}

#TablaCompras {
  width: 85vw;
}

th {
  background-color: #3e3e3e80;
}

th, td {
  padding: 10px;
  border-radius: 5px;
}

td {
  background-color: var(--Cuadro-Texto);
}

.Ag {
  background: none;
  color: var(--Texto-Principal);
  border: solid 1px var(--Texto-Principal);
  padding: 1px 20px;
}

.Ag:disabled {
  background: none;
  color: var(--Texto-Nota);
  border-color: var(--Texto-Nota);
}

.Ag:hover {
  background: none;
  color:var(--Texto-Seleccionado);
  border-color: var(--Texto-Seleccionado);
}

fieldset {
  border-color: var(--Texto-Nota);
  border-radius: 15px;
  margin: 65px 15px;
  min-height: 70px;
}

legend {
  display: flex;
  gap: 10px;
  text-align: center;
  color:var(--Texto-Seleccionado);
  padding: 0 10px;
}

fieldset > ol > li, .Agregar {
  background: var(--Cuadro-Texto);
  margin-top: 10px;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.Agregar {
  color: var(--Texto-Nota);
  text-align: center;
  cursor: pointer;
  transition: all ease 0.3s;
}

.Agregar:hover {
  color: var(--Texto-Seleccionado);
}
}

/* --------------------------------------------------------------------------------------------------------------------------------------- Vista para tablets*/
@media only screen and (min-width: 800px) and (max-width: 1040px) {
  /* Para el desplazamiento suave entre secciones */
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }

  /* Contenido general y fondo de la página */
  body {
    font-family: "Montserrat";
    margin: 0%;
    color: snow;
    font-size: 1em;
    background: linear-gradient(to top, #232526, #414345);
    background: #2b2b2b url(../IMG/Fondo2.png) center center
      no-repeat fixed;
    background-size: cover;
  }

  /* Títulos principales */
  h2 {
    text-align: center;
    font-size: 3em;
    padding: 0%;
    margin: 0px;
    margin-bottom: 20px;
  }

  /* Subtítulos */
  h3 {
    text-align: center;
    font-size: 1.5em;
  }

  /* Cabecera */
  header {
    padding: 0% 2%;
    background: linear-gradient(to bottom, #000000aa, rgba(255, 255, 255, 0));
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    transition: top 0.3s;
  }

  #EnlacesNav {
    position: relative;
    transition: top 0.5s;
  }

  /* Pues el logo de la cabecera... */
  #LogoDeCabecera {
    max-height: 36px;
    padding: 0 0;
    margin: 0;
  }

  /* Menú de navegación que incluye el logo */
  header > nav {
    display: flex;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    text-decoration: none;
    padding: 0;
  }

  /* Lista de la barra de navegación */
  .NavList {
    list-style: none;
  }

  /* Elementos de la lista de la barra de navegación */
  .NavList > li {
    display: inline-block;
    padding: 0px 5px;
  }

  /* Enlaces de la barra de navegación: normal */
  .NavList > li > a,
  .enlacesContacto {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--Texto-Principal);
  }

  /* Enlaces de la barra de navegación: Al pasar el cursor */
  .NavList > li > a:hover,
  .enlacesContacto:hover {
    color: var(--Texto-Resaltado);
  }

  /* Enlaces de la barra de navegación: Al hacer click */
  .NavList > li > a:active {
    font-size: 0.9em;
  }

  /* Caracter separador de la lista de la barra de navegación "|" */
  .Separador {
    color: var(--Separadores);
  }

  #PrimerSeparador {
    visibility: hidden;
  }

  .btnmenu {
    opacity: 0;
    pointer-events: none;
  }

  /* Contenedor general del contenido principal: el dato curioso del día */
  main {
    text-align: center;
    padding-top: 54px;
    margin: 0;
    height: calc(100vh - 54px);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /* Contenedor general para las secciones */
  .Seccion {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    padding: 110px 0 0 0;
    margin-bottom: 20vh;
  }

  /* Contenedor de la presentación de la página: Ilustracion e info */
  .PresentacionDeLaPagina {
    margin-top: 0;
  }

  /* Imagen del dato: normal */
  .IlustracionPrincipalDeLaPagina {
    border-radius: 15px;
    transition: all 0.3s ease 0s;
    max-height: 38vh;
    max-width: 90vw;
    height: 100%;
    width: 100%;
  }

  #ContenedorCarga {
    background-color: var(--Fondo-Nota);
    max-height: 38vh;
    max-width: 90vw;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .NoCargando {
    border: 5px solid transparent;
    border-top-color: var(--Scrollbars);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: opacity 0.3s;
    z-index: 10;
    opacity: 0;

    -webkit-animation: Girar 1s linear infinite;
    -o-animation: Girar 1s linear infinite;
    animation: Girar 1s linear infinite;
  }

  @keyframes Girar {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }


  /* Logo de la sección "Acerca de" */
  #LogoDeInfo {
    transition: all 0.3s ease 0s;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #ContenedorGeneralImagenDato {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ContenedorImagenTooltip {
    position: relative;
    width: fit-content;
  }

  .tooltip {
    background-color: var(--Fondo-Nota);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 0.9em;
    left: 10px;
    right: 10px;
    bottom: 10px;
    position: absolute;

    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s;

    z-index: 500;
  }

  #NavImg {
    pointer-events: none;
    max-height: 38vh;
    max-width: 90vw;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    transition: opacity 0.3s;
    z-index: 500;
    right: 10px;
    left: 10px;
    opacity: 0;
  }

  .flechanavimg {
    background-color: var(--Fondo-Nota);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: var(--Texto-Principal);
    transition: all 0.3s ease 0s;
  }

  a:hover {
    color: var(--Texto-Nota);
  }

  #ContenedorImagenTooltip:hover .tooltip, #ContenedorImagenTooltip:hover .MasImg {
    pointer-events: all;
    opacity: 1;
  }

  /* Imagen del dato: al pasar el cursor */
  #ContenedorImagenTooltip:hover .IlustracionPrincipalDeLaPagina,
  #LogoDeInfo:active {
    transform: scale(1.05);
  }

  /* Contenedor del dato */
  .TituloOSubtitulo {
    margin: 5px 5px 10px;
    line-height: 1em;
  }

  /* "Dato Curioso" */
  .SaludoPrincipal {
    letter-spacing: 1.5px;
    font-size: 20px;
  }

  /* Contenedor general de la informacion del dato */
  .InformacionDeLaPagina {
    background-color: var(--Cuadro-Texto);
    border-radius: 15px;
    padding: 1px;
    margin: 2% 5% 2% 5%;
  }

  .ExplicacionDeLaPagina {
    padding: 0 2%;
    font-size: 1em;
  }

  /* Botones: Normal */
  button {
    background: var(--Degradado-Principal);
    padding: 10px 25px;
    font-family: Montserrat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    letter-spacing: 1px;
  }

  /* Botones: Al pasar el cursor */
  button:hover {
    background: var(--Degradado-Color);
    transform: scale(10px);
    color: var(--Texto-Principal);
  }

  /* Botones: Al hacer click */
  button:active {
    background: var(--Degradado-Click);
  }

  button:disabled {
    background: var(--Scrollbars);
  }

  .Btndisabled {
    pointer-events: none;
    cursor: none;
  }

  /* Contenedor de la explicacion de la sección SobreFF: texto e imagen */
  #Explicacion {
    height: auto;
    text-align: center;
    align-content: center;
    align-items: center;
  }

  /* Imagen de la sección Sobre FF */
  #LogoDeInfo {
    max-height: 200px;
    max-width: 200px;
    padding: 2%;
  }

  /* Nota de los créditos de la imagen del fondo */
  .TextoNota {
    text-decoration: none;
    color: var(--Texto-Nota);
    font-size: 0.8em;
  }

  /* Título de la sección Colaborar */
  #TítuloColaborar {
    margin: 0px;
    padding: 0px;
  }

  /* Espaciado entre la sección Sobre FF y Colaborar */
  #EspaciadoColaborar {
    display: none;
  }

  /* Contenedor general del formulario */
  #Formulario {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--Cuadro-Texto);
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 5%;
  }

  /* Campos de texto del formulario: Normal */
  input,
  textarea {
    display: block;
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid var(--Texto-Principal);
    font-family: "Montserrat";
    font-size: 1em;
    outline: none;
    color: var(--Texto-Principal);
    resize: none;
  }

  /* Barras del formulario: Al hacer click/seleccionar */
  input:focus,
  textarea:focus {
    color: var(--Texto-Principal);
    border-bottom: 1px solid var(--Texto-Seleccionado);
  }

  textarea::placeholder,
  input::placeholder {
    visibility: hidden;
    transition: all 0s ease 0s;
    text-align: right;
    font-size: 0.8em;
  }

  textarea:focus::placeholder,
  input:focus::placeholder {
    text-align: right;
    font-size: 0.8em;
    visibility: visible;
  }

  select {
    background: none;
    border: none;
    color: var(--Texto-Principal);
    width: 100%;
    border-bottom: 1px solid var(--Texto-Principal);
    padding-bottom: 5px;
  }

  select:focus{
    outline: none;
  }

  option {
    color: #2b2b2b;
  }


  /* Indicaciones del formulario: Normal */
  label {
    color: var(--Texto-Nota);
    position: absolute;
    left: 10px;
    top: -25px;
    transition: 0.3s ease-in-out all;
    pointer-events: none;
  }

  /* Indicaciónes del formulario: al hacer click/seleccionar o rellenar */
  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    outline: none;
    top: -30px;
    left: 5px;
    font-size: 0.9em;
    color: var(--Texto-Seleccionado);
  }

  .CheckButton {
    pointer-events: all;
    -webkit-user-select: none;

    display: flex;
    width: 100%;
    height: 10px;
    cursor: pointer;
  }

  input[type="checkbox"] {
    position: absolute;
    transform: scale(0);
  }

  input:checked ~ .CheckCheck {
    transform: rotate(45deg);
    width: 1px;
    height: 6px;
    margin-left: 4px;
    border-color: var(--Texto-Seleccionado);
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
  }

  .CheckCheck {
    display: block;
    width: 10px;
    height: inherit;
    border: 3px solid var(--Texto-Nota);
    border-radius: 3px;
    transition: all 0.3s;
    margin-right: 14px;
  }

  /* Contenedor del botón "enviar" del formulario */
  #EnviarDatoSugerido {
    text-align: center;
    font-size: 1em;
    width: auto;
  }

  #FormRespuesta {
    margin: 14px;
    font-size: 15px;
    text-align: center;
    color: var(--Texto-Seleccionado);
    font-family: "Montserrat";
  }

  /* Texto del botón principal */
  .btnprn {
    font-size: 1em;
    color: var(--Texto-Contrario);
    margin: 0 5px;
  }

  /* Formato de los cuadros de texto */
  .CuadroDeTexto {
    background: var(--Cuadro-Texto);
    display: flex;
    min-width: 40%;
    max-width: 85%;
    width: 100%;
    padding: 2%;
    margin: 0% 5%;
    border-radius: 15px;
    text-align: justify;
  }

  #CajonApps {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .item {
    background-color: var(--Cuadro-Texto);
    border-radius: 15px;height: 15vh;
    width: calc(100% / 3.5);
    padding: 1.5%;

    text-align: left;

    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 14px;
  }

  .MasInfoItem {
    position: relative;
    max-width: fit-content;
    max-height: 64px;
  }

  .imgItem {
    width: 64px;
    object-fit: cover;
    height: 64px;
    border-radius: 5px;
  }

  .MasInfoB {
    position: absolute;
    font-size: 2em;
    background-color: var(--Fondo-Nota);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    border-radius: 5px;

    opacity: 0;
  }

  .MasInfoItem:hover .MasInfoB {
    opacity: 1;
  }

  .NombreItem {
    text-transform: capitalize;
    font-size: 1.35em;
  }

  /* Formato de las preguntas dentro de un formulario */
  .Pregunta {
    position: relative;
    margin: 65px 45px;
  }
  
  .Etiqueta {
    cursor: pointer;
    background-color: var(--Cuadro-Texto); 
    border-radius: 5px; 
    padding: 9px 25px;
  }

  footer::before {
    top: -100px;
    content: "";
    display: block;
    height: 50px;
    width: 100vw;
    background: linear-gradient(to top, #000000aa, rgba(255, 255, 255, 0));
  }

  /* Pie de página */
  .Pie {
    text-align: center;
    font-family: Montserrat;
    font-size: 0.9em;
    line-height: 1em;
    padding: 5%;
    margin: 0;
    background-color: #000000aa;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ContenedorPie {
    background-color: #54545427;
    min-width: 40vw;
    max-width: 75vw;
    padding: 5px 15px;
    margin: 15px 0;
    border-radius: 7px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .ContenedorPie2{
    background-color: #54545427;
    border-radius: 7px;
    min-width: 5vw;
    padding: 10px 50px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #Enlaces {
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 15px 0;
  }

  #Enlaces > a {
    padding: 0px 5px;
  }

  #NotaCopia {
    color: var(--Texto-Seleccionado);
  }

  #Proyecto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
  }

  .ProyectoEnlaces {
    width: 15vw;
    transition: all 0.3s ease 0s;
  }

  /* Logo de instagram */
  .logoRedSocial {
    font-size: 22px;
  }

  #Enlaces {
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 15px 0;
  }

  summary {
    cursor: pointer;
  }#CajaPrincipal {
    margin-top: 2.5em;
}

#BusquedaPrincipal {
    background-color: #f5f5f5;
    color: #2b2b2b;
    padding-left: 14px;
    height: 2.5em;
    width: 40vw;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0 0px 12px #00000014, 0 0 1px #0100001a;
}

#BusquedaPrincipal::placeholder {
    text-align: left;
    visibility: visible;
}

#CuadroDeBusqueda {
    display: flex;
    justify-content: center;
}

#BtnBuscar {
    border-radius: 0px 4px 4px 0px;
    margin-left: 10px;
    height: 100%;
}
}

/* --------------------------------------------------------------------------------------------------------------------------------------- Vista para computadoras*/
@media only screen and (min-width: 1040px) {
  /* Para el desplazamiento suave entre secciones */
  html {
    scroll-behavior: smooth;
    /* overflow: hidden; */
    overflow-x: hidden;
  }

  body::-webkit-scrollbar,
  #Formulario::-webkit-scrollbar,
  #DatoCuriosoSugerido::-webkit-scrollbar,
  #JSONaCopiar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    position: fixed;
  }

  body::-webkit-scrollbar-thumb,
  #Formulario::-webkit-scrollbar-thumb,
  #DatoCuriosoSugerido::-webkit-scrollbar-thumb,
  #JSONaCopiar::-webkit-scrollbar-thumb {
    background-color: var(--Scrollbars);
    border-radius: 5px;
  }

  
  /* Contenido general y fondo de la página */
  body {
    font-family: "Montserrat";
    margin: 0%;
    color: snow;
    font-size: 1em;
    background: linear-gradient(to top, #232526, #414345);
    background: #2b2b2b url(../IMG/Fondo2.png) center center
      no-repeat fixed;
    background-size: cover;
  }

  /* Títulos principales */
  h2 {
    text-align: center;
    font-size: 45px;
  }

  /* Subtítulos */
  h3 {
    text-align: center;
  }

  /* Cabecera */
  header {
    padding: 0% 5%;
    background: linear-gradient(to bottom, #000000aa, rgba(255, 255, 255, 0));
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.5s;

    z-index: 9999;
  }

  #EnlacesNav {
    position: relative;
    transition: top 0.5s;
  }

  /* Pues el logo de la cabecera... */
  #LogoDeCabecera {
    height: 48px;
  }

  /* Menú de navegación que incluye el logo */
  header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    text-decoration: none;
    width: 100%;
  }

  /* Lista de la barra de navegación */
  .NavList {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* Elementos de la lista de la barra de navegación */
  .NavList > li {
    display: inline-block;
    padding: 0px 5px;
  }

  /* Enlaces de la barra de navegación: normal */
  .NavList > li > a,
  .enlacesContacto {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--Texto-Principal);
  }

  /* Enlaces de la barra de navegación: Al pasar el cursor */
  .NavList > li > a:hover,
  .enlacesContacto:hover {
    color: var(--Texto-Resaltado);
  }

  /* Enlaces de la barra de navegación: Al hacer click */
  .NavList > li > a:active {
    font-size: 0.9em;
  }

  #PrimerSeparador,
  .btnmenu {
    visibility: hidden;
  }

  /* Caracter separador de la lista de la barra de navegación "|" */
  .Separador {
    color: var(--Separadores);
  }

  /* Contenedor general del contenido principal: el dato curioso del día */
  main {
    text-align: center;
    padding: 0;
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Contenedor general para las secciones */
  .Seccion {
    /* margin-top: 100px; */
    width: 100%;
    min-height: 100vh;
    padding: 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .SobreLaPagina {
    background-color: #0f0f0f62;
    backdrop-filter: blur(5px);
  }

  /* Contenedor de la presentación de la página: Ilustracion e info */
  .PresentacionDeLaPagina {
    width: 100%;
    /* padding-top: 70px; */
  }

  /* Imagen del dato: normal */
  .IlustracionPrincipalDeLaPagina,
  #LogoDeInfo {
    border-radius: 15px;
    transition: all 0.3s ease 0s;
    height: 300px;
  }

  #ContenedorCarga {
    background-color: var(--Fondo-Nota);
    height: 300px;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .NoCargando {
    border: 5px solid transparent;
    border-top-color: var(--Scrollbars);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: opacity 0.3s;
    z-index: 10;
    opacity: 0;

    -webkit-animation: Girar 1s linear infinite;
    -o-animation: Girar 1s linear infinite;
    animation: Girar 1s linear infinite;
  }

  @keyframes Girar {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }



  #ContenedorGeneralImagenDato {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ContenedorImagenTooltip {
    position: relative;
    width: fit-content;
  }

  .tooltip {
    background-color: var(--Fondo-Nota);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 0.9em;
    left: 10px;
    right: 10px;
    top: 265px;
    position: absolute;

    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s;

    z-index: 500;
  }

  #NavImg {
    pointer-events: none;
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    transition: opacity 0.3s;
    z-index: 500;
    right: 10px;
    left: 10px;
    opacity: 0;
  }

  .flechanavimg {
    background-color: var(--Fondo-Nota);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: var(--Texto-Principal);
    transition: all 0.3s ease 0s;
  }

  a:hover {
    color: var(--Texto-Nota);
  }

  #ContenedorImagenTooltip:hover .tooltip, #ContenedorImagenTooltip:hover .MasImg {
    pointer-events: all;
    opacity: 1;
  }

  /* Imagen del dato: al pasar el cursor */
  #ContenedorImagenTooltip:hover .IlustracionPrincipalDeLaPagina,
  #LogoDeInfo:active,
  .ProyectoEnlaces:hover {
    transform: scale(1.05);
    z-index: 200;
  }

  /* "Dato Curioso" */
  .SaludoPrincipal {
    letter-spacing: 1.5px;
  }

  /* Contenedor general de la informacion del dato */
  .InformacionDeLaPagina {
    min-height: 8em;
    background-color: var(--Cuadro-Texto);
    border-radius: 15px;
    padding: 0.2px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .ExplicacionDeLaPagina {
    padding-left: 1%;
    padding-right: 1%;
  }

  /* Botones: Normal */
  button {
    background: var(--Degradado-Principal);
    padding: 10px 25px;
    font-family: Montserrat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    letter-spacing: 1px;
  }

  /* Botones: Al pasar el cursor */
  button:hover {
    background: var(--Degradado-Color);
    transform: scale(10px);
    color: whitesmoke;
  }

  /* Botones: Al hacer click */
  button:active {
    background: var(--Degradado-Click);
  }

  button:disabled {
    background: var(--Scrollbars);
  }

  .Btndisabled {
    pointer-events: none;
    cursor: none;
  }

  /* Contenedor de la explicacion de la sección SobreFF: texto e imagen */
  #Explicacion {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  /* Imagen de la sección Sobre FF */
  #LogoDeInfo {
    /* min-height: 20vh; */
    /* min-width: 20vw; */
    float: right;
    margin: 1% 5%;
  }

  /* Nota de los créditos de la imagen del fondo */
  .TextoNota {
    text-decoration: none;
    color: var(--Texto-Nota);
    font-size: 0.8em;
  }

  /* Contenedor general del formulario */
  #Formulario {
    max-height: 85vh;
    min-width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--Cuadro-Texto);
    border-radius: 15px;
    padding: 0;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0%;
    margin-bottom: 0%;

    overflow-y: auto;
  }

  .Formulario {
    width: 100%;
  }

  /* Campos de texto del formulario: Normal */

  input,
  textarea {
    display: block;
    width: 100%;
    border: none;
    background: none;
    border-bottom: 1px solid var(--Texto-Principal);
    font-family: "Montserrat";
    font-size: 1em;
    outline: none;
    color: var(--Texto-Principal);
    resize: none;
  }

  /* Barras del formulario: Al hacer click/seleccionar */
  input:focus,
  textarea:focus {
    color: var(--Texto-Principal);
    border-bottom: 1px solid var(--Texto-Seleccionado);
  }

  textarea::placeholder,
  input::placeholder {
    visibility: hidden;
    transition: all 0s ease 0s;
    text-align: right;
    font-size: 0.8em;
  }

  select {
    background: none;
    border: none;
    color: var(--Texto-Principal);
    width: 100%;
    border-bottom: 1px solid var(--Texto-Principal);
    padding-bottom: 5px;
  }

  select:focus{
    outline: none;
  }

  option {
    color: #2b2b2b;
  }

  textarea:focus::placeholder,
  input:focus::placeholder {
    text-align: right;
    font-size: 0.8em;
    visibility: visible;
  }

  /* Indicaciones del formulario: Normal */
  label {
    color: var(--Texto-Nota);
    position: absolute;
    left: 2px;
    top: -5px;
    transition: 0.3s ease-in-out all;
    pointer-events: none;
  }

  /* Indicaciónes del formulario: al hacer click/seleccionar o rellenar */
  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    outline: none;
    top: -20px;
    left: 5px;
    font-size: 0.9em;
    color: var(--Texto-Seleccionado);
  }

  .CheckButton {
    pointer-events: all;
    -webkit-user-select: none;

    display: flex;
    width: 100%;
    height: 10px;
    cursor: pointer;
  }

  input[type="checkbox"] {
    position: absolute;
    transform: scale(0);
  }

  input:checked ~ .CheckCheck {
    transform: rotate(45deg);
    width: 1px;
    height: 6px;
    margin-left: 4px;
    border-color: var(--Texto-Seleccionado);
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
  }

  .CheckCheck {
    display: block;
    width: 10px;
    height: inherit;
    border: 3px solid var(--Texto-Nota);
    border-radius: 3px;
    transition: all 0.3s;
    margin-right: 14px;
  }

  /* Contenedor del botón "enviar" del formulario */
  #EnviarDatoSugerido {
    text-align: center;
  }

  #FormRespuesta {
    margin: 14px;
    text-align: center;
    color: var(--Texto-Seleccionado);
    font-family: "Montserrat";
  }

  /* Texto del botón principal */
  .btnprn {
    font-size: 1em;
    color: var(--Texto-Contrario);
    margin: 0 5px;
  }

  /* Formato de los cuadros de texto */
  .CuadroDeTexto {
    background: var(--Cuadro-Texto);
    display: flex;
    min-width: 40%;
    max-width: 85%;
    width: 100%;
    padding: 2%;
    margin: 0% 5%;
    border-radius: 15px;
    text-align: justify;
  }

  #CajonApps {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
 /* Nuevo xd */
  .item {
    background-color: var(--Cuadro-Texto);
    border-radius: 15px;height: 15vh;
    width: calc(100% / 3.5);
    padding: 1.5%;

    text-align: left;

    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 14px;
  }

  .MasInfoItem {
    position: relative;
    max-width: fit-content;
    max-height: 64px;
  }

  .imgItem {
    width: 64px;
    object-fit: cover;
    height: 64px;
    border-radius: 5px;
  }

  .MasInfoB {
    position: absolute;
    font-size: 2em;
    background-color: var(--Fondo-Nota);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    border-radius: 5px;

    opacity: 0;
  }

  .MasInfoItem:hover .MasInfoB {
    opacity: 1;
  }

  .NombreItem {
    text-transform: capitalize;
    font-size: 1.35em;
  }

  /* Formato de las preguntas dentro de un formulario */
  .Pregunta {
    position: relative;
    margin: 50px 45px;
  }

  .Etiqueta {
    cursor: pointer;
    background-color: var(--Cuadro-Texto); 
    border-radius: 5px; 
    padding: 9px 25px;
  }

  footer::before {
    top: -100px;
    content: "";
    display: block;
    height: 50px;
    width: 100vw;
    background: linear-gradient(to top, #000000aa, rgba(255, 255, 255, 0));
  }

  /* Pie de página */
  .Pie {
    text-align: center;
    font-family: Montserrat;
    font-size: 0.8em;
    line-height: 0.5em;
    padding: 5%;
    margin: 0;
    background-color: #000000aa;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ContenedorPie {
    background-color: #54545427;
    min-width: 40vw;
    max-width: 50vw;
    padding: 5px 15px;
    margin: 15px 0;
    border-radius: 7px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .ContenedorPie2{
    background-color: #54545427;
    border-radius: 7px;
    min-width: 5vw;
    padding: 10px 50px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #Enlaces {
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 15px 0;
  }

  #Enlaces > a {
    padding: 0px 5px;
  }

  #NotaCopia {
    color: var(--Texto-Seleccionado);
    max-width: 100%;
  }

  #Proyecto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 15px;
  }

  .ProyectoEnlaces {
    height: 5vh;
    transition: all 0.3s ease 0s;
  }

  /* Logo de instagram */
  .logoRedSocial {
    font-size: 22px;
  }

  summary {
    cursor: pointer;
  }#CajaPrincipal {
    margin-top: 2.5em;
}

#BusquedaPrincipal {
    background-color: #f5f5f5;
    color: #2b2b2b;
    padding-left: 14px;
    height: 2.5em;
    width: 40vw;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0 0px 12px #00000014, 0 0 1px #0100001a;
}

#BusquedaPrincipal::placeholder {
    text-align: left;
    visibility: visible;
}

#CuadroDeBusqueda {
    display: flex;
    justify-content: center;
}

#BtnBuscar {
    border-radius: 0px 4px 4px 0px;
    margin-left: 10px;
    height: 100%;
}
}