:root {
    --Texto-Resaltado: #8cff00cc;
    --Texto-Seleccionado: #a8e063;
    --LM-Texto-Resaltado: #56ab2f;

    --Degradado-Color: linear-gradient(to top, #56ab2f, #a8e063);
    --Degradado-Click: linear-gradient(to top, #305f1a7a, #43582879);
}